
body{
    background-color: #2C2C2C;
    margin: 0;
    padding: 0;
    transition: 0.5s;
}
a{
    text-decoration: none;
    color: #FF6900;
    cursor: pointer;
}

.banner{
    position: relative;
    width: 100%;

}
.banner-img{
    width: 200px;
    border-radius: 50%;
    border: 1px solid white;
    position: relative;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
}
.banner-img:hover{
    box-shadow: inset 0 0 0.5em #FF6900, 0 0 0.5em #FF6900;
    transition: 0.5s;
}
.banner-title{
    margin-top: 50px;
    color: #FF6900;
    text-align: center;
}
.banner-sub-title{
    color: white;
    text-align: center;
}
.banner-p{
    color: white;
    text-align: center;
    font-size: 20px;
}

.banner-conteudo{
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap ;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}
.card{
    flex-basis: 45%;
    flex-grow: 1;
    color: #fff;
    margin:13px;
    border: 1px solid #fff;
    border-radius: 10px;
    width: 320px;
    min-height: 250px;
    height: auto;
    position: relative;
    top: 50px;
    left: 50%;
    transform: translate(-50%);
    
}
.card-title{
    margin-left:10px ;
}
.card-p{
    margin-left: 10px;
}
.card-link{
    color: white;
    font-size: 20px;
    text-decoration: underline;
    position: relative;
    top: 100px;
    left: 10px;
}

.card:hover{
    box-shadow: inset 0 0 0.5em #FF6900, 0 0 0.5em #FF6900;
    transition: 0.5s;
    color: #FF6900;
    text-shadow: inset 0 0 0.5em #FF6900, 0 0 0.5em #FF6900;
}

.icons{
    width: 100%;
    text-align: center;
    font-size: 35px;
    box-sizing: border-box;
    display: inline-block;
    list-style: none;
}
.icons a{
    margin: 0 10px;
    color: white;
}
.icons a:hover{
    transition: 0.5s;
    text-shadow: inset 0 0 2em #FF6900, 0 0 0.5em #FF6900;
    color: #FF6900;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #000;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #000;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }



.dark-mode{
    transition: 0.5s;
    background-color: #fff;
    color: #000;
}
.dark-mode p{
    transition: 0.5s;
    color: black;
}
.dark-mode .icons a{
    color: #000;
}
.dark-mode .icons a:hover{
    transition: 0.3s;
    color: #FF6900;
}
.dark-mode .card{
    transition: 0.5s;
    border-color: black;
    color: black;
}